// variable colors

$yellow: #FFFF00;
$link-color: #00D1C7;
$black: #333333;
$grey: #666666;
$error-red: #FF7777;

// Chinese font

$cn-font: "source-han-sans-simplified-c", "kozuka-gothic-pro", helvetica, sans-serif;

$button-font: "KozGoPr6N-Heavy", helvetica, sans-serif;