@import 'base';

@media (min-width: 1440px) {
  .footer {
    .menu-content {
      padding: 90px 90px;
      .menu-item {
        padding: 0 25px;
      }
    }
    .copy-right {
      padding: 0 115px;
    }
    .centered_image.icons{
      padding: 20px 25px;
      .ImagesSet {
        margin: 0 30px 0 0;
        img {
          width: auto;
        }
      }
    }
  }
}

@include respond-to(tablet&mobile) {
  .footer {
    .menu-content {
      padding: 60px 25px 0;
      width: 100%;
      -webkit-column-count:2;
      -moz-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 30px;
      -moz-column-gap: 30px;
      column-gap: 30px;
      .menu-item {
        margin-bottom: 50px;
        display: inline-block;
        width: 100%;
        padding: 0;
        float: none;
      }
      .sub-menu a {
        opacity: 0.9 !important;
      }
    }
    .copy-right {
      font-size: 10px;
      background-color: #222;
      margin-bottom: 0;
      padding: 0 25px;
      height: inherit;
    }
    .centered_image.icons{
      width: 100%;
      padding: 0 0 20px 0;
      margin-top: -25px;
      .ImagesSet {
        margin: 0 20px 0 0;
        img {
          width: 80%;
        }
      }
    }
  }
}


